#!/usr/bin/env bash

# Take this out after filling in details:
echo "This .extras file needs to get filled out"

#GIT_AUTHOR_NAME="<name>"
#GIT_AUTHOR_EMAIL="<email>"
#GIT_SIGNING_KEY="<signing key>"
#
#GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
#git config --global user.name "$GIT_AUTHOR_NAME"
#GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"
#git config --global user.email "$GIT_AUTHOR_EMAIL"
#git config --global user.signingkey "$GIT_SIGNING_KEY"
