[submodule ".bash_it"]
	path = .bash_it
	url = https://github.com/Bash-it/bash-it.git
  shallow = true
	ignore = dirty
[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "meta/dotbot-brewfile"]
	path = meta/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
	ignore = dirty
[submodule "shells/bash/bash_it"]
	path = shells/bash/bash_it
	url = https://github.com/Bash-it/bash-it.git
